body {
  background-color: skyblue;
}

.App {
  max-width: 968px;
  margin: 0 auto;
}

.project-title {
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 60px;
  margin: 40px 0;
}

footer {
  text-align: center;
  margin: 20px 0;
}
